---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 29 Sep 2022 19:21:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-912674287"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1634795847"}]}]}'
  recorded_at: Thu, 29 Sep 2022 19:21:38 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664479298,"sunrise":1664456049,"sunset":1664498770,"temp":80.89,"feels_like":79.47,"pressure":1017,"humidity":26,"dew_point":42.84,"uvi":4.64,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":346,"wind_gust":11.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1664478000,"temp":80.89,"feels_like":79.47,"pressure":1017,"humidity":26,"dew_point":42.84,"uvi":4.64,"clouds":100,"visibility":10000,"wind_speed":5.61,"wind_deg":115,"wind_gust":9.84,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1664481600,"temp":81.39,"feels_like":79.61,"pressure":1016,"humidity":23,"dew_point":40.08,"uvi":4.23,"clouds":100,"visibility":10000,"wind_speed":1.54,"wind_deg":11,"wind_gust":7.67,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1664485200,"temp":80.89,"feels_like":79.23,"pressure":1015,"humidity":22,"dew_point":38.52,"uvi":3.17,"clouds":100,"visibility":10000,"wind_speed":16.55,"wind_deg":293,"wind_gust":14.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1664488800,"temp":77.85,"feels_like":76.46,"pressure":1015,"humidity":24,"dew_point":38.19,"uvi":1.3,"clouds":100,"visibility":10000,"wind_speed":12.66,"wind_deg":336,"wind_gust":11.52,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1664492400,"temp":76.1,"feels_like":74.62,"pressure":1013,"humidity":26,"dew_point":38.77,"uvi":0.55,"clouds":100,"visibility":10000,"wind_speed":7.38,"wind_deg":51,"wind_gust":8.72,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.23}},{"dt":1664496000,"temp":74.26,"feels_like":72.7,"pressure":1013,"humidity":28,"dew_point":38.77,"uvi":0.13,"clouds":92,"visibility":10000,"wind_speed":2.44,"wind_deg":78,"wind_gust":4.14,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.18}},{"dt":1664499600,"temp":72.39,"feels_like":70.84,"pressure":1013,"humidity":32,"dew_point":40.73,"uvi":0,"clouds":97,"visibility":10000,"wind_speed":6.13,"wind_deg":112,"wind_gust":7.8[...]
