---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14982'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14982'
      Ratelimit-Reset:
      - '1332518'
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sat, 04 Mar 2023 19:51:22 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1677959483,"sunrise":1677936544,"sunset":1677977681,"temp":42.33,"feels_like":41,"pressure":1006,"humidity":46,"dew_point":24.06,"uvi":4.27,"clouds":14,"visibility":10000,"wind_speed":3,"wind_deg":30,"wind_gust":8.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1677956400,"temp":42.19,"feels_like":39.16,"pressure":1007,"humidity":43,"dew_point":22.53,"uvi":4.7,"clouds":12,"visibility":10000,"wind_speed":4.83,"wind_deg":339,"wind_gust":4.34,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1677960000,"temp":42.33,"feels_like":39.04,"pressure":1006,"humidity":46,"dew_point":24.06,"uvi":4.27,"clouds":14,"visibility":10000,"wind_speed":5.23,"wind_deg":352,"wind_gust":5.44,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1677963600,"temp":42.98,"feels_like":39.29,"pressure":1006,"humidity":42,"dew_point":22.68,"uvi":3.15,"clouds":20,"visibility":10000,"wind_speed":6.04,"wind_deg":339,"wind_gust":5.59,"weather":[{"id":801,"m[...]
