---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14999'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14999'
      Ratelimit-Reset:
      - '1379936'
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sat, 04 Mar 2023 06:41:04 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1677912065,"sunrise":1677850235,"sunset":1677891217,"temp":29.52,"feels_like":29.52,"pressure":1010,"humidity":88,"dew_point":26.76,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.83,"wind_deg":123,"wind_gust":3.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.12}},"hourly":[{"dt":1677909600,"temp":30.56,"feels_like":30.56,"pressure":1010,"humidity":85,"dew_point":27.05,"uvi":0,"clouds":25,"visibility":10000,"wind_speed":2.06,"wind_deg":137,"wind_gust":3.4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.6},{"dt":1677913200,"temp":29.52,"feels_like":29.52,"pressure":1010,"humidity":88,"dew_point":26.76,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.83,"wind_deg":123,"wind_gust":3.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.2,"snow":{"1h":0.12}},{"dt":1677916800,"temp":30.27,"feels_like":30.27,"pressure":1011,"humidity":86,"dew_point":27.01,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":2.08,"wind_deg":105,"wind_gust":3,"weather":[[...]
