---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
      X-Vz-Migration-Api:
      - 'true'
      Status:
      - success
      - success
      Transactionweight:
      - NaN
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sun, 13 Nov 2022 19:01:23 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1668366084,"sunrise":1668346946,"sunset":1668383177,"temp":50.95,"feels_like":46.6,"pressure":1010,"humidity":18,"dew_point":11.46,"uvi":2.38,"clouds":16,"visibility":10000,"wind_speed":4,"wind_deg":42,"wind_gust":7,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1668366000,"temp":50.95,"feels_like":46.6,"pressure":1010,"humidity":18,"dew_point":11.46,"uvi":2.38,"clouds":16,"visibility":10000,"wind_speed":5.21,"wind_deg":59,"wind_gust":6.29,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1668369600,"temp":50.58,"feels_like":46.13,"pressure":1009,"humidity":17,"dew_point":10.04,"uvi":2.12,"clouds":24,"visibility":10000,"wind_speed":7.43,"wind_deg":56,"wind_gust":8.32,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1668373200,"temp":50.23,"feels_like":45.72,"pressure":1009,"humidity":16,"dew_point":8.58,"uvi":1.47,"clouds":29,"visibility":10000,"wind_speed":10,"wind_deg":79,"wind_gust":9.17,"weather":[{"id":802,"main":[...]
