---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14993'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14993'
      Ratelimit-Reset:
      - '649341'
      X-Transaction-Count:
      - all=1,geocoding=1
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sun, 11 Jun 2023 23:37:39 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1686526660,"sunrise":1686483098,"sunset":1686536865,"temp":59.11,"feels_like":58.86,"pressure":1013,"humidity":88,"dew_point":55.56,"uvi":0.3,"clouds":97,"visibility":7756,"wind_speed":3,"wind_deg":179,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1686524400,"temp":59.36,"feels_like":59.04,"pressure":1013,"humidity":86,"dew_point":55.18,"uvi":0.64,"clouds":97,"visibility":3667,"wind_speed":8.41,"wind_deg":295,"wind_gust":8.84,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"pop":0.88,"rain":{"1h":4.2}},{"dt":1686528000,"temp":59.11,"feels_like":58.86,"pressure":1013,"humidity":88,"dew_point":55.56,"uvi":0.3,"clouds":97,"visibility":7756,"wind_speed":11.95,"wind_deg":329,"wind_gust":22.53,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.76},{"dt":1686531600,"temp":58.6,"feels_like":58.26,"pressure":1013,"humidity":87,"dew_point":54.75,"uvi":0.1,"clouds":98,"visibility":10000,"wind_speed":10.67,"wind_deg":10,"wind_gust":20.49,"weathe[...]
