---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '1000000000'
      X-Ratelimit-Remaining-2628000:
      - '999999989'
      Ratelimit-Limit:
      - '1000000000'
      Ratelimit-Remaining:
      - '999999989'
      Ratelimit-Reset:
      - '330345'
      Etag:
      - W/"31d-UWl4xqMA+XoeHsC3eT5D4hq+shg"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Wed, 14 Feb 2024 00:14:15 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1707869656,"sunrise":1707832538,"sunset":1707870777,"temp":47.64,"feels_like":47.01,"pressure":1011,"humidity":35,"dew_point":22.57,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":3,"wind_deg":87,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1707868800,"temp":47.64,"feels_like":47.64,"pressure":1011,"humidity":35,"dew_point":22.57,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":1.59,"wind_deg":87,"wind_gust":2.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1707872400,"temp":46.76,"feels_like":46.76,"pressure":1011,"humidity":37,"dew_point":23.04,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":1.07,"wind_deg":145,"wind_gust":2.17,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1707876000,"temp":45.19,"feels_like":45.19,"pressure":1011,"humidity":40,"dew_point":23.43,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":1.54,"wind_deg":228,"wind_gust":2.08,"weather":[{"id":800,"main":"Clea[...]
