---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664377442,"sunrise":1664369593,"sunset":1664412468,"temp":65.08,"feels_like":63.73,"pressure":1027,"humidity":52,"dew_point":47.05,"uvi":1.05,"clouds":0,"visibility":10000,"wind_speed":3.56,"wind_deg":199,"wind_gust":4.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664377200,"temp":65.08,"feels_like":63.73,"pressure":1027,"humidity":52,"dew_point":47.05,"uvi":1.05,"clouds":0,"visibility":10000,"wind_speed":3.56,"wind_deg":199,"wind_gust":4.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664380800,"temp":66.47,"feels_like":65.03,"pressure":1026,"humidity":47,"dew_point":45.64,"uvi":2.48,"clouds":0,"visibility":10000,"wind_speed":2.93,"wind_deg":197,"wind_gust":4.76,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664384400,"temp":69.66,"feels_like":68.2,"pressure":1024,"humidity":40,"dew_point":44.29,"uvi":4.21,"clouds":0,"visibility":10000,"wind_speed":1.16,"wind_deg":177,"wind_gust":2.75,"weather":[{"id":800,"main":[...]
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14998'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14998'
      Ratelimit-Reset:
      - '1379732'
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Sat, 04 Mar 2023 06:44:29 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1677913871,"sunrise":1677936544,"sunset":1677977681,"temp":29.32,"feels_like":29.32,"pressure":1011,"humidity":83,"dew_point":25.32,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.83,"wind_deg":123,"wind_gust":3.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.12}},"hourly":[{"dt":1677913200,"temp":29.32,"feels_like":29.32,"pressure":1011,"humidity":83,"dew_point":25.32,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.83,"wind_deg":123,"wind_gust":3.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.2,"snow":{"1h":0.12}},{"dt":1677916800,"temp":30.11,"feels_like":30.11,"pressure":1011,"humidity":82,"dew_point":25.84,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":2.08,"wind_deg":105,"wind_g[...]
