---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1677912068,"sunrise":1677850233,"sunset":1677891215,"temp":29.3,"feels_like":29.3,"pressure":1010,"humidity":88,"dew_point":26.55,"uvi":0,"clouds":13,"visibility":10000,"wind_speed":1.99,"wind_deg":127,"wind_gust":3.31,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.11}},"hourly":[{"dt":1677909600,"temp":30.31,"feels_like":30.31,"pressure":1010,"humidity":85,"dew_point":26.8,"uvi":0,"clouds":26,"visibility":10000,"wind_speed":2.21,"wind_deg":139,"wind_gust":3.62,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.61},{"dt":1677913200,"temp":29.3,"feels_like":29.3,"pressure":1010,"humidity":88,"dew_point":26.55,"uvi":0,"clouds":13,"visibility":10000,"wind_speed":1.99,"wind_deg":127,"wind_gust":3.31,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.2,"snow":{"1h":0.11}},{"dt":1677916800,"temp":30.04,"feels_like":30.04,"pressure":1011,"humidity":86,"dew_point":26.8,"uvi":0,"clouds":13,"visibility":10000,"wind_speed":2.17,"wind_deg":111,"wind_gust":3.27,"weather":[...]
