---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1668366086,"sunrise":1668346944,"sunset":1668383176,"temp":50.79,"feels_like":46.42,"pressure":1010,"humidity":18,"dew_point":11.34,"uvi":2.38,"clouds":18,"visibility":10000,"wind_speed":4,"wind_deg":42,"wind_gust":7,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1668366000,"temp":50.79,"feels_like":46.42,"pressure":1010,"humidity":18,"dew_point":11.34,"uvi":2.38,"clouds":18,"visibility":10000,"wind_speed":5.35,"wind_deg":59,"wind_gust":6.4,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1668369600,"temp":50.4,"feels_like":45.93,"pressure":1009,"humidity":17,"dew_point":9.9,"uvi":2.12,"clouds":26,"visibility":10000,"wind_speed":7.63,"wind_deg":56,"wind_gust":8.46,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1668373200,"temp":50.04,"feels_like":45.5,"pressure":1009,"humidity":16,"dew_point":8.42,"uvi":1.47,"clouds":31,"visibility":10000,"wind_speed":10.07,"wind_deg":79,"wind_gust":9.31,"weather":[{"id":802,"m[...]
