---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1707869637,"sunrise":1707832536,"sunset":1707870775,"temp":47.48,"feels_like":46.83,"pressure":1011,"humidity":35,"dew_point":22.44,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":3,"wind_deg":87,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1707868800,"temp":47.48,"feels_like":47.48,"pressure":1011,"humidity":35,"dew_point":22.44,"uvi":0,"clouds":4,"visibility":10000,"wind_speed":1.68,"wind_deg":92,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1707872400,"temp":46.56,"feels_like":46.56,"pressure":1011,"humidity":37,"dew_point":22.87,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":1.3,"wind_deg":145,"wind_gust":2.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1707876000,"temp":44.98,"feels_like":44.98,"pressure":1011,"humidity":40,"dew_point":23.25,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":1.61,"wind_deg":217,"wind_gust":2.59,"weather":[{"id":800,"main":"Clear[...]
