---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664242711,"sunrise":1664196679,"sunset":1664239866,"temp":68.47,"feels_like":66.79,"pressure":1020,"humidity":38,"dew_point":41.9,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":5.61,"wind_deg":125,"wind_gust":12.1,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664240400,"temp":70.03,"feels_like":68.34,"pressure":1019,"humidity":34,"dew_point":40.41,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":5.91,"wind_deg":115,"wind_gust":9.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664244000,"temp":68.47,"feels_like":66.79,"pressure":1020,"humidity":38,"dew_point":41.9,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":5.61,"wind_deg":125,"wind_gust":12.1,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664247600,"temp":69.08,"feels_like":67.33,"pressure":1020,"humidity":35,"dew_point":40.32,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":5.66,"wind_deg":119,"wind_gust":12.86,"weather":[{"id":800,"main":"Clea[...]
