---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1686526663,"sunrise":1686483097,"sunset":1686536863,"temp":58.89,"feels_like":58.62,"pressure":1013,"humidity":88,"dew_point":55.35,"uvi":0.3,"clouds":97,"visibility":8161,"wind_speed":3,"wind_deg":179,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1686524400,"temp":59.09,"feels_like":58.75,"pressure":1013,"humidity":86,"dew_point":54.91,"uvi":0.64,"clouds":97,"visibility":3349,"wind_speed":9.51,"wind_deg":293,"wind_gust":8.52,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"pop":0.88,"rain":{"1h":4.44}},{"dt":1686528000,"temp":58.89,"feels_like":58.62,"pressure":1013,"humidity":88,"dew_point":55.35,"uvi":0.3,"clouds":97,"visibility":8161,"wind_speed":12.08,"wind_deg":330,"wind_gust":23.06,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.76},{"dt":1686531600,"temp":58.42,"feels_like":58.06,"pressure":1013,"humidity":87,"dew_point":54.57,"uvi":0.1,"clouds":98,"visibility":10000,"wind_speed":10.63,"wind_deg":10,"wind_gust":20.65,"weat[...]
