---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1673764715,"sunrise":1673705971,"sunset":1673740676,"temp":38.48,"feels_like":38.48,"pressure":1003,"humidity":58,"dew_point":25.81,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.99,"wind_deg":127,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1673762400,"temp":38.28,"feels_like":34.57,"pressure":1003,"humidity":59,"dew_point":26.01,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":4.85,"wind_deg":179,"wind_gust":4.79,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1673766000,"temp":38.48,"feels_like":34.93,"pressure":1003,"humidity":58,"dew_point":25.81,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.7,"wind_deg":201,"wind_gust":4.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1673769600,"temp":38.14,"feels_like":34.02,"pressure":1003,"humidity":59,"dew_point":25.88,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.35,"wind_deg":210,"wind_gust":5.12,"weather":[{"id":804,"m[...]
