---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1673472244,"sunrise":1673446823,"sunset":1673481288,"temp":34,"feels_like":27.9,"pressure":1011,"humidity":89,"dew_point":31.21,"uvi":0.64,"clouds":100,"visibility":10000,"wind_speed":7,"wind_deg":24,"wind_gust":11.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1673470800,"temp":34,"feels_like":29.08,"pressure":1011,"humidity":89,"dew_point":31.21,"uvi":0.64,"clouds":100,"visibility":10000,"wind_speed":5.39,"wind_deg":57,"wind_gust":7.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.33},{"dt":1673474400,"temp":34.75,"feels_like":29.57,"pressure":1011,"humidity":85,"dew_point":30.87,"uvi":0.45,"clouds":100,"visibility":10000,"wind_speed":5.93,"wind_deg":73,"wind_gust":9.8,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.25},{"dt":1673478000,"temp":36.66,"feels_like":30.29,"pressure":1011,"humidity":71,"dew_point":28.62,"uvi":0.13,"clouds":100,"visibility":10000,"wind_speed":8.41,"wind_deg":344,"wind_gust":23.82,"weather":[[...]
