---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1667359871,"sunrise":1667309314,"sunset":1667347101,"temp":54.19,"feels_like":51.01,"pressure":1003,"humidity":36,"dew_point":28.33,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":1.01,"wind_deg":312,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1667358000,"temp":55.13,"feels_like":51.89,"pressure":1004,"humidity":33,"dew_point":27.19,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":3.18,"wind_deg":208,"wind_gust":3.91,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1667361600,"temp":54.19,"feels_like":51.01,"pressure":1003,"humidity":36,"dew_point":28.33,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":3.85,"wind_deg":216,"wind_gust":4.38,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1667365200,"temp":54.72,"feels_like":51.44,"pressure":1004,"humidity":33,"dew_point":26.87,"uvi":0,"clouds":84,"visibility":10000,"wind_speed":4.23,"wind_deg":208,"wind_gust":4.72,"weather":[{"id":803,"main[...]
