---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664077757,"sunrise":1664023767,"sunset":1664067264,"temp":62.33,"feels_like":59.86,"pressure":1018,"humidity":34,"dew_point":33.64,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":21,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664074800,"temp":64.15,"feels_like":61.66,"pressure":1018,"humidity":30,"dew_point":32.11,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.04,"wind_deg":105,"wind_gust":4.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664078400,"temp":62.33,"feels_like":59.86,"pressure":1018,"humidity":34,"dew_point":33.64,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.51,"wind_deg":74,"wind_gust":9.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664082000,"temp":63.28,"feels_like":60.76,"pressure":1019,"humidity":31,"dew_point":32.18,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.7,"wind_deg":27,"wind_gust":11.01,"weather":[{"id":800,"main":"Clear"[...]
