---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1677959487,"sunrise":1677936542,"sunset":1677977680,"temp":42.15,"feels_like":40.8,"pressure":1006,"humidity":46,"dew_point":23.92,"uvi":4.27,"clouds":14,"visibility":10000,"wind_speed":3,"wind_deg":30,"wind_gust":8.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1677956400,"temp":42.03,"feels_like":39.49,"pressure":1007,"humidity":43,"dew_point":22.41,"uvi":4.7,"clouds":12,"visibility":10000,"wind_speed":4.21,"wind_deg":340,"wind_gust":4.74,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1677960000,"temp":42.15,"feels_like":39.29,"pressure":1006,"humidity":46,"dew_point":23.92,"uvi":4.27,"clouds":14,"visibility":10000,"wind_speed":4.61,"wind_deg":354,"wind_gust":5.82,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1677963600,"temp":42.8,"feels_like":39.54,"pressure":1006,"humidity":42,"dew_point":22.53,"uvi":3.15,"clouds":20,"visibility":10000,"wind_speed":5.3,"wind_deg":338,"wind_gust":6.04,"weather":[{"id":801,"mai[...]
