---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 01:24:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040053","unknownInput":"","type":"s","latLng":{"lat":40.813599,"lng":-96.70261},"displayLatLng":{"lat":40.813599,"lng":-96.70261},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=40.813599,-96.70261|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1843240233"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Saline
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.813599&lon=-96.70261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7026,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664155463,"sunrise":1664108237,"sunset":1664151576,"temp":68.49,"feels_like":66.78,"pressure":1017,"humidity":37,"dew_point":41.22,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":310,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664154000,"temp":68.49,"feels_like":66.78,"pressure":1017,"humidity":37,"dew_point":41.22,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":9.71,"wind_deg":344,"wind_gust":23.82,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664157600,"temp":67.42,"feels_like":65.52,"pressure":1017,"humidity":35,"dew_point":38.86,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":8.61,"wind_deg":341,"wind_gust":21.94,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664161200,"temp":65.3,"feels_like":63.18,"pressure":1018,"humidity":35,"dew_point":36.99,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":7.61,"wind_deg":351,"wind_gust":14.76,"weather":[{"id":801,"main":"Cl[...]
