---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 29 Sep 2022 19:21:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040053","unknownInput":"","type":"s","latLng":{"lat":40.813599,"lng":-96.70261},"displayLatLng":{"lat":40.813599,"lng":-96.70261},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=40.813599,-96.70261|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-258578236"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Saline
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.813599&lon=-96.70261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7026,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664479299,"sunrise":1664454075,"sunset":1664496769,"temp":75.78,"feels_like":74.7,"pressure":1022,"humidity":35,"dew_point":46.2,"uvi":5.34,"clouds":0,"visibility":10000,"wind_speed":17.27,"wind_deg":140,"wind_gust":26.46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664478000,"temp":75.78,"feels_like":74.7,"pressure":1022,"humidity":35,"dew_point":46.2,"uvi":5.34,"clouds":0,"visibility":10000,"wind_speed":16.6,"wind_deg":161,"wind_gust":19.55,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664481600,"temp":76.33,"feels_like":75.22,"pressure":1022,"humidity":33,"dew_point":45.14,"uvi":4.39,"clouds":1,"visibility":10000,"wind_speed":16.44,"wind_deg":161,"wind_gust":19.13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664485200,"temp":77.13,"feels_like":75.96,"pressure":1021,"humidity":30,"dew_point":43.34,"uvi":2.92,"clouds":2,"visibility":10000,"wind_speed":16.69,"wind_deg":163,"wind_gust":19.64,"weather":[{"id":800,"m[...]
