---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 01:38:30 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040053","unknownInput":"","type":"s","latLng":{"lat":40.813599,"lng":-96.70261},"displayLatLng":{"lat":40.813599,"lng":-96.70261},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=40.813599,-96.70261|marker-sm-50318A-1&scalebar=true&zoom=12&rand=196765844"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Saline
        County","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY"[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.813599&lon=-96.70261&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7026,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664242710,"sunrise":1664194696,"sunset":1664237874,"temp":62.83,"feels_like":61.12,"pressure":1018,"humidity":49,"dew_point":43.41,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664240400,"temp":63.01,"feels_like":61.12,"pressure":1018,"humidity":45,"dew_point":41.36,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.65,"wind_deg":80,"wind_gust":4.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664244000,"temp":62.83,"feels_like":61.12,"pressure":1018,"humidity":49,"dew_point":43.41,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.94,"wind_deg":122,"wind_gust":5.03,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664247600,"temp":62.28,"feels_like":60.37,"pressure":1018,"humidity":46,"dew_point":41.27,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.04,"wind_deg":157,"wind_gust":5.88,"weather":[{"id":800,"main":"Clea[...]
