---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
      X-Vz-Migration-Api:
      - 'true'
      Status:
      - success
      - success
      Transactionweight:
      - NaN
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Wed, 02 Nov 2022 03:30:55 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1667359855,"sunrise":1667309316,"sunset":1667347102,"temp":54.45,"feels_like":51.28,"pressure":1003,"humidity":36,"dew_point":28.53,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":1.01,"wind_deg":312,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1667358000,"temp":55.38,"feels_like":52.18,"pressure":1004,"humidity":33,"dew_point":27.39,"uvi":0,"clouds":81,"visibility":10000,"wind_speed":2.89,"wind_deg":210,"wind_gust":3.31,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1667361600,"temp":54.45,"feels_like":51.28,"pressure":1003,"humidity":36,"dew_point":28.53,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":3.65,"wind_deg":217,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1667365200,"temp":54.97,"feels_like":51.71,"pressure":1004,"humidity":33,"dew_point":27.07,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":4.09,"wind_deg":208,"wind_gust":4.47,"weather":[{"id":803,"main":"[...]
