---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14991'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14991'
      Ratelimit-Reset:
      - '649339'
      X-Transaction-Count:
      - all=1,geocoding=1
      Etag:
      - W/"31e-8IvIJmNsqCok4xBpbNUwQhCYtto"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.81362,"lng":-96.7073},"displayLatLng":{"lat":40.81362,"lng":-96.7073},"mapUrl":""}]}]}'
  recorded_at: Sun, 11 Jun 2023 23:37:42 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.81362&lon=-96.7073&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7073,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1686526662,"sunrise":1686480901,"sunset":1686535085,"temp":71.58,"feels_like":71.08,"pressure":1013,"humidity":56,"dew_point":55.08,"uvi":0.65,"clouds":20,"visibility":10000,"wind_speed":12.66,"wind_deg":30,"wind_gust":18.41,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1686524400,"temp":70.77,"feels_like":70.23,"pressure":1013,"humidity":57,"dew_point":54.81,"uvi":1.65,"clouds":36,"visibility":10000,"wind_speed":9.1,"wind_deg":34,"wind_gust":14.67,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1686528000,"temp":71.58,"feels_like":71.08,"pressure":1013,"humidity":56,"dew_point":55.08,"uvi":0.65,"clouds":20,"visibility":10000,"wind_speed":8.43,"wind_deg":37,"wind_gust":13.62,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1686531600,"temp":70.39,"feels_like":69.85,"pressure":1013,"humidity":58,"dew_point":54.93,"uvi":0.21,"clouds":18,"visibility":10000,"wind_speed":8.23,"wind_deg":34,"wind_gust":15.28,"weather":[{"id":801,"m[...]
