---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '1000000000'
      X-Ratelimit-Remaining-2628000:
      - '999999984'
      Ratelimit-Limit:
      - '1000000000'
      Ratelimit-Remaining:
      - '999999984'
      Ratelimit-Reset:
      - '330342'
      Etag:
      - W/"31e-3ONBTDCyPxjCxhs++blSxQzzIEs"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.81362,"lng":-96.7073},"displayLatLng":{"lat":40.81362,"lng":-96.7073},"mapUrl":""}]}]}'
  recorded_at: Wed, 14 Feb 2024 00:14:18 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.81362&lon=-96.7073&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7073,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1707869658,"sunrise":1707830654,"sunset":1707868683,"temp":49.55,"feels_like":46.69,"pressure":1015,"humidity":49,"dew_point":31.3,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1707868800,"temp":49.55,"feels_like":49.55,"pressure":1015,"humidity":49,"dew_point":31.3,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.04,"wind_deg":38,"wind_gust":2.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1707872400,"temp":48.51,"feels_like":47.77,"pressure":1015,"humidity":51,"dew_point":31.32,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.24,"wind_deg":94,"wind_gust":3.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1707876000,"temp":47.07,"feels_like":45.28,"pressure":1016,"humidity":53,"dew_point":30.97,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.25,"wind_deg":115,"wind_gust":4.32,"weather":[{"id":800,"main":"Clear[...]
