---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=lincoln,ne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-2628000:
      - '15000'
      X-Ratelimit-Remaining-2628000:
      - '14982'
      Ratelimit-Limit:
      - '15000'
      Ratelimit-Remaining:
      - '14982'
      Ratelimit-Reset:
      - '1332515'
      Etag:
      - W/"31e-8IvIJmNsqCok4xBpbNUwQhCYtto"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"lincoln,ne"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lincoln","adminArea5Type":"City","adminArea4":"Lancaster","adminArea4Type":"County","adminArea3":"NE","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.81362,"lng":-96.7073},"displayLatLng":{"lat":40.81362,"lng":-96.7073},"mapUrl":""}]}]}'
  recorded_at: Sat, 04 Mar 2023 19:51:25 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=40.81362&lon=-96.7073&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.8136,"lon":-96.7073,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1677959486,"sunrise":1677934604,"sunset":1677975645,"temp":51.12,"feels_like":48.24,"pressure":1015,"humidity":49,"dew_point":32.65,"uvi":3.33,"clouds":0,"visibility":10000,"wind_speed":11.5,"wind_deg":360,"wind_gust":21.85,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1677956400,"temp":50.79,"feels_like":47.82,"pressure":1015,"humidity":48,"dew_point":31.86,"uvi":4.07,"clouds":1,"visibility":10000,"wind_speed":11.03,"wind_deg":332,"wind_gust":12.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1677960000,"temp":51.12,"feels_like":48.24,"pressure":1015,"humidity":49,"dew_point":32.65,"uvi":3.33,"clouds":0,"visibility":10000,"wind_speed":10.47,"wind_deg":340,"wind_gust":12.19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1677963600,"temp":50.97,"feels_like":47.93,"pressure":1015,"humidity":46,"dew_point":31.08,"uvi":2.18,"clouds":5,"visibility":10000,"wind_speed":10.2,"wind_deg":351,"wind_gust":11.56,"weather":[{"id":800,"ma[...]
