---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-zftSuFzJHtZuo9xZ/Qg7M7lyAF4"
      X-Vz-Migration-Api:
      - 'true'
      Status:
      - success
      - success
      Transactionweight:
      - NaN
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Wed, 11 Jan 2023 23:16:49 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=39.74001&lon=-104.99202&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1673478971,"sunrise":1673446825,"sunset":1673481289,"temp":33.24,"feels_like":25.93,"pressure":1011,"humidity":90,"dew_point":30.79,"uvi":0.13,"clouds":100,"visibility":10000,"wind_speed":8.72,"wind_deg":342,"wind_gust":24.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1673478000,"temp":33.24,"feels_like":25.93,"pressure":1011,"humidity":90,"dew_point":30.79,"uvi":0.13,"clouds":100,"visibility":10000,"wind_speed":8.72,"wind_deg":342,"wind_gust":24.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.16},{"dt":1673481600,"temp":34.39,"feels_like":25.7,"pressure":1012,"humidity":81,"dew_point":29.52,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":12.24,"wind_deg":340,"wind_gust":26.87,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.16},{"dt":1673485200,"temp":34,"feels_like":26.83,"pressure":1013,"humidity":81,"dew_point":29.17,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.79,"wind_deg":40,"wind_gust":16.82,"weather":[{"id":8[...]
